  <div class="text-center">
    <h2>How to operate everything in your house</h1>
    <h3>All the details about the things you own</h2>
  <div>

<!-- <div class="grid-container"> -->
  <div class="text-center">
    Jeff Korenstein's House
    <br>
  <div>
<!-- </div> -->
