  <div class="text-center">
    <h2>How to operate anything in your house</h1>
    <h3>All the details about the things you own</h2>
  <div class="text-center">
<p>
  Modify me in `app/views/homes/index.html.erb` or change the root directive in
  `config/routes.rb`
</p>
