@import "./color_palette";

// this is applied in App.js
.pagestyle {
  background-color: $primary
}

// .top-bar {
//   padding: 0px;
//   border: 3px dashed red;
//   background-color: $light-accent;
//   .menu {
//     padding: 0px;
//     background-color: $light-accent;
//     border: 3px dashed black;
//     margin: 0;
//   }
// }

.top-bar {
  background-color: $light-accent;
  .menu {
    background-color:$light-accent;
    padding: 0px;
  }
  .top-left {
    background-color:$light-accent;
  }
  .top-right {
    background-color:$light-accent;
  }
}


// modifying top bar https://youtu.be/cxPwwixHEJg

// for tiles
.box-shadow {
  box-shadow: 0 4px 20px 0 grey;
}

.hover-zoom {
  transition: all .2s ease-in-out;
}

.hover-zoom:hover{
  transform: scale(1.1);
}
