@import "./color_palette";
@import "./font_palette";

.navbar {
  color: $light-accent;
  background-color: $secondary;

  a {
    font-family: $primary-font, sans-serif;
    color: $light-accent;
    font-size: 200%;
  }
}
