@import "./color_palette";
@import "./font_palette";

.topbar-color {
  // background-color: $light-accent;
}

a {
  font-family: $primary-font, sans-serif;
  color: $dark-accent;
  font-size: 150%;
}

.sign {
  font-size: 100%;
  margin-right: 1em;
}

a.light-text-color {
  color: $red-accent;
}

#title {
  font-family: 'Gochi Hand', sans-serif;
  font-size: 130%;
}

#title:hover {
  text-decoration: none;
}

#sign-in-background {
  background-color: $light-accent;
}

#user-name {
  margin-bottom: 0px;
}
